<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="clear" color="medium" [routerLink]="['/toc']">TOC</ion-button>
      <ion-menu-button color="medium"></ion-menu-button>
      
    </ion-buttons>
    <ion-title>The End</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<h1 >The End</h1>
 
 
  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-button expand="clear" color="medium" [routerLink]="['/chapter4']">
      <ion-icon slot="end" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title>6</ion-title>
   
  </ion-toolbar>

</ion-footer>