// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #d19711;
  --ion-color-primary-rgb: 209,151,17;
  --ion-color-primary-contrast:  #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #b8850f;
  --ion-color-primary-tint: #d6a129;

  // /** primary original**/
  // --ion-color-primary: #3880ff;
  // --ion-color-primary-rgb: 56, 128, 255;
  // --ion-color-primary-contrast: #ffffff;
  // --ion-color-primary-contrast-rgb: 255, 255, 255;
  // --ion-color-primary-shade: #3171e0;
  // --ion-color-primary-tint: #4c8dff;

  /** secondary custom**/
  --ion-color-secondary: #6fa0ad;
  --ion-color-secondary-rgb: 111,160,173;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #628d98;
  --ion-color-secondary-tint: #7daab5;


  // /** secondary **/
  // --ion-color-secondary: #0cd1e8;
  // --ion-color-secondary-rgb: 12, 209, 232;
  // --ion-color-secondary-contrast: #ffffff;
  // --ion-color-secondary-contrast-rgb: 255, 255, 255;
  // --ion-color-secondary-shade: #0bb8cc;
  // --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  // /** dark **/
  // --ion-color-dark: #222428;
  // --ion-color-dark-rgb: 34, 34, 34;
  // --ion-color-dark-contrast: #ffffff;
  // --ion-color-dark-contrast-rgb: 255, 255, 255;
  // --ion-color-dark-shade: #1e2023;
  // --ion-color-dark-tint: #383a3e;
 
    --ion-color-dark: #055b7d;
    --ion-color-dark-rgb: 5,91,125;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #04506e;
    --ion-color-dark-tint: #1e6b8a;

  
  .ion-color-tert {
    --ion-color-base: var(--ion-color-tert);
    --ion-color-base-rgb: var(--ion-color-tert-rgb);
    --ion-color-contrast: var(--ion-color-tert-contrast);
    --ion-color-contrast-rgb: var(--ion-color-tert-contrast-rgb);
    --ion-color-shade: var(--ion-color-tert-shade);
    --ion-color-tint: var(--ion-color-tert-tint);
  }

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  //** custom gold  my color**/
    --ion-color-mygol: #d19711;
    --ion-color-mygol-rgb: 209,151,17;
    --ion-color-mygol-contrast:  #ffffff;
    --ion-color-mygol-contrast-rgb: 255, 255, 255;
    --ion-color-mygol-shade: #b8850f;
    --ion-color-mygol-tint: #d6a129;

    --ion-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;
   
  }
  
  .ion-color-mygol {
    --ion-color-base: var(--ion-color-mygol);
    --ion-color-base-rgb: var(--ion-color-mygol-rgb);
    --ion-color-contrast: var(--ion-color-mygol-contrast);
    --ion-color-contrast-rgb: var(--ion-color-mygol-contrast-rgb);
    --ion-color-shade: var(--ion-color-mygol-shade);
    --ion-color-tint: var(--ion-color-mygol-tint);
  }
  
  

