<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" color="primary-contrast">

      <ion-button expand="clear" color="medium" [routerLink]="['/toc']">TOC</ion-button>
      <ion-menu-button color="medium"></ion-menu-button>

    </ion-buttons>
    <ion-title>Chapter 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row style="color: blueviolet;">
      <ion-col size-md="8" offset-md="1" text-float-left>
        <h1>The Beginning</h1>
      </ion-col>
    </ion-row>

    <ion-row style="border: solid 1px rgb(165, 116, 42);">
      <ion-col size="2">
      </ion-col>
      <ion-col>
        <p style="font-family: fantasy;"><span id="hl">L</span>orem ipsum dolor, sit amet
          consectetur adipisicing elit.
          Eligendi excepturi vitae ad rerum et aut saepe nulla quidem
          facilis earum, amet iure obcaecati dolore minus fugit esse sunt sint,
          dolores aliquid ea quasi numquam? <span style="font-size: x-small;">Dillan McBereth</span>
      </ion-col>
      <ion-col size="2">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>
          <span id="hl">A</span>utemut quas veniam eum architecto animi ullam sapiente cumque, aliquam porro qui velit
          repellendus recusandae
          magnam? Incidunt necessitatibus accusamus, eos molestias atque nam quam fugiat nisi distinctio dignissimos,
          repellendus debitis officiis, placeat laboriosam nulla! </p>
        <ion-item >
          <ion-thumbnail>
            <ion-img src="../assets/img/title.png" ></ion-img>
          </ion-thumbnail>
        </ion-item>
        <p>Fugiat, perferendis odit? Illum asperiores unde atque?
          Ut repellendus similique iusto nihil sequi et cupiditate repellat aspernatur aliquam excepturi ea sit dolor
          sint saepe, id, inventore voluptas repudiandae. Voluptatum cumque dolorum assumenda et sequi minus veniam ex
          tempora, soluta suscipit voluptates totam exercitationem, nobis iste doloremque maiores similique
          reprehenderit minima excepturi quae hic! Obcaecati architecto excepturi alias nihil provident, accusantium
          ipsam quam amet sit animi culpa saepe, id, magni maiores nulla temporibus porro. Pariatur harum deleniti
          ducimus quis vel ut eaque fuga labore rem placeat explicabo voluptas veniam ratione saepe beatae amet soluta
          eum reiciendis porro et eveniet, ullam provident? Porro tempore fugiat omnis recusandae ducimus et obcaecati
          temporibus, corrupti nostrum eius veniam accusamus autem architecto placeat deleniti voluptatum id
          accusantium?
          Cumque totam laborum fuga dolorem, necessitatibus sequi iste reprehenderit officia.

          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem quibusdam nihil magnam eos quidem
          rem ducimus nulla reprehenderit explicabo molestias veritatis eius, itaque optio, odit qui, consectetur
          recusandae aut necessitatibus nemo aliquid odio consequuntur fuga debitis. Dicta eum eos ipsum aliquid velit
          veritatis hic architecto numquam fuga magni et iste molestias sunt eius, inventore voluptate nemo cupiditate
          accusamus eligendi. Ducimus, iure! In, nobis repudiandae placeat ducimus, ea, harum a magnam molestiae eius
          aperiam nisi saepe dicta pariatur sed quasi doloremque molestias commodi odio. Nostrum tenetur odio saepe. Rem
          delectus atque voluptatum, quaerat dignissimos nobis consequatur ipsum corporis distinctio consequuntur dicta.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="clear" color="medium" [routerLink]="['/toc']">
        <ion-icon slot="end" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-item slot="end">

      <ion-text>2</ion-text>

    </ion-item>

    <ion-buttons slot="end">
      <ion-button expand="clear" color="medium" [routerLink]="['/chapter2']">
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-footer>